/*================================== MAIN.CSS ===================================*/
@import "fonts"
@import "libs"
@import "vars"

/* ==================== GENERAL STYLES START ==================== */
*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	opacity: 1


.img-responsive
	display: block
	max-width: 100%
	height: auto
/* ==================== GENERAL STYLES END ==================== */


/*========== HEADER START ==========*/
header
	opacity: .9
	position: absolute
	width: 100%
	z-index: 2

.header-bottom
	background-color: #e6e6e6
	.main-menu
		text-align: left
		ul
			padding: 0
			margin: 0
			.dropdown-menu
				display: none
				width: 100%
				padding: 10px 0
				position: absolute
				z-index: 3
				background-color: #e6e6e6
				li
					display: block
					a
						font-size: 1.5rem
						display: block
						padding-left: 20px
			li
				display: inline-block
				padding: 25px 20px 20px
				a
					color: #636363
					font-size: 1em
					&:hover
						text-decoration: none
				.drop-m
					border: 2px solid red
				.icon
					width: 30px
					height: 30px
					margin-top: 1px
					margin-right: 10px
					display: block
					float: left
					background-repeat: no-repeat
				&:nth-child(1) .icon
					background-image: url(../img/menu-icon1.png)
				&:nth-child(2) .icon
					background-image: url(../img/menu-icon2.png)
				&:nth-child(3) .icon
					background-image: url(../img/menu-icon3.png)
				&:nth-child(4) .icon
					background-image: url(../img/menu-icon4.png)
				&:nth-child(5) .icon
					background-image: url(../img/menu-icon5.png)
				&:nth-child(6) .icon
					background-image: url(../img/menu-icon6.png)
/*========== HEADER END ==========*/


/*========== MAIN SLIDER START ==========*/

.slider_main
	.slider_item
		position: relative
	.slider_content
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%,-50%)
		text-align: center
		
		h1
			font: 11.975em/1 'VeryBerryPro-Regular', sans-serif
			color: #FFF
			&::selection
				color: #777
				background: #999
				
	.img-separator
		position: relative
		
		&:before, &:after
			content: ""
			display: inline-block
			height: 1px
			width: 260px 
			position: absolute
			left: 0
			top: 50%
			background-color: #FFF 
			content: ""
			display: inline-block
			height: 1px
			width: 260px 
			position: absolute
			left: 0
			top: 50%
			background-color: #FFF 
			
		&:after
			left: auto
			right: 0
	
	.slider_descr
		padding: 0 30px 
		display: flex
		span
			&:first-child
				font: 1.25em 'IskraCYR-Regular', sans-serif
				color: #FFF 

 


/*========== MAIN SLIDER END ==========*/












/* MEDIA QUARIES */
@import "blog"
